[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "*"
twine = "*"
github_labels = { path = ".", editable = true }

[packages]
click = "~= 8.0"
exitstatus = "*"
PyGithub = "*"
PyYAML = "*"
ycfg = "*"
